<%= link_to t(:communities), :root, class: :back %>
<h1><%= @user.name %></h1>

<%= render partial: "shared/articles", locals: { entity: @user } %>

<section class="filters">
  <% if @user.comments.size > 0 %>
    <div>
      <h3><%= t :recent_comments %></h3>
      <ul>
        <% @user.comments.each do |comment| %>
        <li>
          <%= link_to comment.article.title, article_path(comment.article, anchor: "comment-id-#{comment.id}") %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>