<%= form_for(@article) do |f| %>
  Publier dans <%= f.collection_select(:community_id, @communities, :id, :name) %>
  
  <h1>
    <%= f.text_field :title, autofocus: true, placeholder: t(:title) %>
  </h1>
  
  <aside>
    <div><%= current_user.name %></div>
    <div class="secondary"><%= l Time.now, format: :long %></div>
  </aside>
  
  <article>
    <div id="toolbar">
      <a class="bold" data-wysihtml5-command="bold">B</a>
      <a class="italic" data-wysihtml5-command="italic">I</a>
      <a class="heading" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"><%= t :subtitle %></a>
      <a class="paragraph" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"><%= t :paragraph %></a>
    </div>
    <%= f.text_area :body, id: 'editor' %>
    
    <div class="actions">
      <%= link_to t(:delete_article), @article, data: { confirm: t(:confirm_delete_article) }, class: 'button-link', method: :delete %>

      <% if @article.new_record? %>  
        <%= f.submit t :publish %>
      <% else %>
        <%= f.submit t :edit %>
      <% end %>
    </div>
  </article>

<% end %>
