<%= form_for(@article) do |f| %>
  Publier dans <%= f.collection_select(:community_id, @communities, :id, :name) %>
  
  <h1>
    <%= f.text_field :title, autofocus: true, placeholder: t(:title) %>
  </h1>
  
  <aside>
    <div><%= current_user.name %></div>
    <div class="secondary"><%= l Time.now, format: :long %></div>
  </aside>
  
  <article>
    <%= f.text_area :body, placeholder: t(:article) %>
    
    <div class="actions">
      <% if @article.new_record? %>  
        <%= f.submit t :publish %>
      <% else %>
        <%= f.submit t :edit %>
      <% end %>
    </div>
  </article>

<% end %>
