<% if @original_article.blank? %>
  <%= link_to @current_community.name, @current_community, class: :back %>
<% else %>
  <%= link_to @original_article.title, @original_article, class: :back %>
<% end %>

<%= form_for(@article) do |f| %>
  <%= f.hidden_field :community_id, value: @current_community.id %>
  <%= f.hidden_field :original_article_id, value: @original_article.id %>

  <h1>
    <%= f.text_field :title, autofocus: true, placeholder: t(:title) %>
  </h1>
  
  <aside>
    <div><%= current_user.name %></div>
    <div class="secondary"><%= l Time.now, format: :long %></div>
  </aside>
  
  <article>
    <% unless @original_article.blank? %>
    <p class="note">
      <%= t :response_to %>
      <%= link_to @original_article.title, @original_article %>.
    </p>
    <% end %>
    <div id="toolbar">
      <a class="bold" data-wysihtml5-command="bold">B</a>
      <a class="italic" data-wysihtml5-command="italic">I</a>
      <a class="heading" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"><%= t :subtitle %></a>
      <a class="paragraph" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"><%= t :paragraph %></a>
    </div>
    <%= f.text_area :body, id: 'editor' %>
    
    <div class="actions">
      <% if @article.new_record? %>  
        <%= f.submit t :publish %>
      <% else %>
        <%= link_to t(:delete_article), @article, data: { confirm: t(:confirm_delete_article) }, class: 'button-link', method: :delete %>
        <%= f.submit t :edit %>
      <% end %>
    </div>
  </article>

<% end %>
