<%= form_for(@article) do |f| %>
  Publier dans <%= f.collection_select(:community_id, @communities, :id, :name) %>
  
  <h1>
    <%= f.text_field :title, autofocus: true, placeholder: t(:title) %>
  </h1>
  
  <aside>
    <div><%= current_user.name %></div>
    <div class="secondary"><%= l Time.now, format: :long %></div>
  </aside>
  
  <article>
    <div id="toolbar">
      <a data-wysihtml5-command="bold">bold</a>
      <a data-wysihtml5-command="italic">italic</a>
      <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">H2</a>
      <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">P</a>
    </div>
    <%= f.text_area :body, id: 'editor' %>
    
    <div class="actions">
      <% if @article.new_record? %>  
        <%= f.submit t :publish %>
      <% else %>
        <%= f.submit t :edit %>
      <% end %>
    </div>
  </article>

<% end %>
