<%= link_to @article.community.name, @article.community, class: :back %>
<h1><%= best_in_place_if policy(@article).edit?, @article, :title, as: :textarea %>&nbsp;<%= link_to(t(:edit), edit_article_path(@article), id: 'edit-title', class: 'mini') if policy(@article).edit? %></h1>
<aside>
  <div><%= link_to @article.user.name, @article.user %></div>
  <div class="secondary"><%= l @article.created_at, format: :long %></div>
</aside>
<article>
  <%= sanitize @article.body %>
</article>

<section class="epiteths">
  <h1><%= t :epiteths %></h1>
  <p>prout</p>
</section>

<section class="comments">
  <h1 id="comments"><%= t :comments %></h1>
  <% unless @article.comments.blank? %>
  <ul>
    <% @article.comments.each do |c| %>
    <li id="comment-id-<%= c.id %>">
      <span class="metadata">
        <%= link_to c.user.name, c.user %> — 
        <span class="secondary"><%= l c.created_at, format: :long %></span>
      </span>
      <div class="body">
        <%= sanitize c.body %>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>
  
  <%= form_for(@comment) do |f| %>
    <%= f.hidden_field :article_id, value: @article.id %>
    <%= f.text_area :body %>
    <%= f.submit t :publish %>
  <% end %>
  
</section>
