<%= link_to @article.community.name, @article.community, class: :back %>
<h1><%= best_in_place_if policy(@article).edit?, @article, :title, as: :textarea %>&nbsp;<%= link_to(t(:edit), edit_article_path(@article), id: 'edit-title', class: 'mini') if policy(@article).edit? %></h1>
<aside>
  <div><%= link_to @article.user.name, @article.user %></div>
  <div class="secondary"><%= l @article.created_at, format: :long %></div>
</aside>
<article>
  <%= sanitize @article.body %>
</article>

<section class="epithets">
  <h1><%= t :epithets %></h1>
  <ul id="epithets-list">
    <% @article.epithets_with_counts.each do |epithet_hash| %>
      <% has_vote = @epithet_votes_by_current_user.pluck(:epithet_id).include? epithet_hash[:epithet].id %>
      <li>
        <% link_text = epithet_hash[:epithet].name << %Q{<span class="count">#{epithet_hash[:count]}</span>} %>
        <% if has_vote %>
          <%= link_to sanitize(link_text), @epithet_votes_by_current_user.detect { |e| e.epithet_id == epithet_hash[:epithet].id }, remote: true, method: :delete, class: 'selected' %>
        <% else %>
          <%= link_to sanitize(link_text), epithet_votes_path(epithet_vote: { article_id: @article.id, epithet_id: epithet_hash[:epithet].id } ), remote: true, method: :post %>
        <% end %>
      </li>
    <% end %>
    <li><a class="popup-menu-link add" data-popup="epithets-menu">+</a></li>
  </ul>
  
  <div id="epithets-menu" class="popup-menu">
    <%= form_for(@epithet_vote, remote: true) do |f| %>
      <%= f.hidden_field :article_id, value: @article.id %>
      <%= f.fields_for :epithet do |epithet_form| %>
        <%= epithet_form.label t :epithet_help, value: "name" %>
        <%= epithet_form.text_field :name %>
      <% end %>
      <%= f.submit t :submit %>
    <% end %>
  </div>
</section>

<section class="comments">
  <h1 id="comments"><%= t :comments %></h1>
  <% unless @article.comments.blank? %>
  <ul>
    <% @article.comments.each do |c| %>
    <li id="comment-id-<%= c.id %>">
      <span class="metadata">
        <%= link_to c.user.name, c.user %> — 
        <span class="secondary"><%= l c.created_at, format: :long %></span>
      </span>
      <div class="body">
        <%= sanitize c.body %>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>
  
  <%= form_for(@comment) do |f| %>
    <%= f.hidden_field :article_id, value: @article.id %>
    <%= f.text_area :body %>
    <%= f.submit t :publish %>
  <% end %>
  
</section>
