<%= link_to @article.community.name, @article.community, class: :back %>
<h1><%= @article.title %></h1>
<aside>
  <div><%= @article.user.name %></div>
  <div class="secondary"><%= l @article.created_at, format: :long %></div>
</aside>
<article>
  <%= sanitize @article.body %>
</article>
