<%= link_to @article.community.name, @article.community, class: :back %>
<h1><%= best_in_place_if policy(@article).edit?, @article, :title, as: :textarea %></h1>

<aside>
  <div><%= link_to @article.user.name, @article.user %></div>
  <div class="secondary">
    <%= time_tag(@article.created_at, l(@article.created_at, format: :long)) %>
    <% if @article.updated_at.to_date != @article.created_at.to_date %>
      <br><%= t :modified %>
      <%= time_tag(@article.updated_at, "#{t :on} " << l(@article.updated_at, format: :long)) %>
    <% end %>
  </div>
</aside>

<article>
  <% unless @article.original_article.blank? %>
  <p class="note">
    <%= t :response_to %>
    <%= link_to @article.original_article.title, @article.original_article %>
    <%= "#{t :by} #{@article.original_article.user.name}" %>.
  </p>
  <% end %>
  
  <%= sanitize @article.body %>
  
  <% unless @article.responses.blank? %>
  <div class="note">
    <% if @article.responses.size == 1 %>
      <%= t :response_to_this_article %>&nbsp;:
      <%= link_to @article.responses.first.title, @article.responses.first %>
      <%= "#{t :by} #{@article.responses.first.user.name}" %>
    <% else %>
      <%= t :responses_to_this_article %>&nbsp;:
      <ul>
        <% @article.responses.each do |response| %>
          <li>
            <%= link_to response.title, response %>
            <%= "#{t :by} #{response.user.name}" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% end %>
  
  <%= link_to(t(:edit_this_article), edit_article_path(@article), id: 'edit-title', class: 'button') if policy(@article).edit? %>
  <%= link_to(t(:respond_to_this_article), new_article_path(original_article_id: @article.id), class: 'button') unless @article.user == current_user %>
</article>

<section class="epithets">
  <h1><%= t :epithets %></h1>
  <ul id="epithets-list">
    <% @article.epithets_with_counts.each do |epithet_hash| %>
      <% has_vote = @epithet_votes_by_current_user.pluck(:epithet_id).include? epithet_hash[:epithet].id %>
      <li>
        <% link_text = epithet_hash[:epithet].name << %Q{<span class="count">#{epithet_hash[:count]}</span>} %>
        <% if has_vote %>
          <%= link_to sanitize(link_text), @epithet_votes_by_current_user.detect { |e| e.epithet_id == epithet_hash[:epithet].id }, remote: true, method: :delete, class: 'selected' %>
        <% else %>
          <%= link_to sanitize(link_text), epithet_votes_path(epithet_vote: { article_id: @article.id, epithet_id: epithet_hash[:epithet].id } ), remote: true, method: :post %>
        <% end %>
      </li>
    <% end %>
    <li><a class="popup-menu-link add" data-popup="epithets-menu">+</a></li>
  </ul>
  
  <div id="epithets-menu" class="popup-menu">
    <%= form_for(@epithet_vote, remote: true) do |f| %>
      <%= f.hidden_field :article_id, value: @article.id %>
      <%= f.fields_for :epithet do |epithet_form| %>
        <%= epithet_form.label t :epithet_help, value: "name" %>
        <%= epithet_form.text_field :name, maxlength: 30 %>
      <% end %>
      <%= f.submit t :submit %>
    <% end %>
  </div>
</section>

<section class="comments">
  <h1 id="comments"><%= t :comments %></h1>
  <ul id="comments-list">
    <% @article.comments.each do |c| %>
    <li id="comment-id-<%= c.id %>">
      <span class="metadata">
        <%= link_to c.user.name, c.user %> 
        <span class="secondary">— <%= time_tag(c.created_at, l(c.created_at, format: :long_with_time)) %></span>
      </span>
      <div class="body">
        <%= sanitize c.body %>
      </div>
    </li>
    <% end %>
  </ul>
  
  <%= form_for(@comment, remote: true) do |f| %>
    <%= f.hidden_field :article_id, value: @article.id %>
    <%= f.text_area :body %>
    <%= f.submit t :comment_verb %>
  <% end %>
  
</section>
