<%= link_to @article.community.name, @article.community, class: :back %>
<h1><%= best_in_place_if policy(@article).edit?, @article, :title, as: :textarea %>&nbsp;<%= link_to(t(:edit), edit_article_path(@article), id: 'edit-title', class: 'mini') if policy(@article).edit? %></h1>
<aside>
  <div><%= link_to @article.user.name, @article.user %></div>
  <div class="secondary"><%= l @article.created_at, format: :long %></div>
</aside>
<article>
  <%= sanitize @article.body %>
</article>

<section class="epiteths">
  <h1><%= t :epiteths %></h1>
  <ul>
    <% @article.epiteths_with_counts.each do |epiteth_array| %>
      <li<%= " class=selected" if @epiteth_vote_ids_by_current_user.include? epiteth_array.first.id %> data-id="<%= epiteth_array.first.id %>">
        <%= epiteth_array.first.name %><span class="count"><%= epiteth_array.second %></span>
      </li>
    <% end %>
    <li class="popup-menu-link add" data-popup="epiteths-menu">+</li>
  </ul>
  
  <div id="epiteths-menu" class="popup-menu">
    <%= form_for(@epiteth_vote) do |f| %>
      <%= f.hidden_field :article_id, value: @article.id %>
      <%= f.fields_for :epiteth do |epiteth_form| %>
        <%= epiteth_form.text_field :name %>
      <% end %>
      <%= f.submit t :submit %>
    <% end %>
  </div>
</section>

<section class="comments">
  <h1 id="comments"><%= t :comments %></h1>
  <% unless @article.comments.blank? %>
  <ul>
    <% @article.comments.each do |c| %>
    <li id="comment-id-<%= c.id %>">
      <span class="metadata">
        <%= link_to c.user.name, c.user %> — 
        <span class="secondary"><%= l c.created_at, format: :long %></span>
      </span>
      <div class="body">
        <%= sanitize c.body %>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>
  
  <%= form_for(@comment) do |f| %>
    <%= f.hidden_field :article_id, value: @article.id %>
    <%= f.text_area :body %>
    <%= f.submit t :publish %>
  <% end %>
  
</section>
