<%= link_to t(:communities), :root, class: :back %>
<h1><%= @community.name %>&nbsp;<%= link_to t(:edit), edit_community_path(@community), class: 'button mini' %></h1>
<ul>
  <% @community.articles.each do |a| %>
  <li>
    <aside>
      <div><%= a.user.name %></div>
      <div class="secondary"><%= l a.created_at, format: :long %></div>
    </aside>
    <article>
      <h2><%= link_to a.title, a %></h2>
      <p><%= sanitize a.body %></p>
    </article>
  </li>
  <% end %>
</ul>