<%= link_to t(:communities), :root, class: :back %>
<h1><%= @community.name %>&nbsp;<%= link_to t(:edit), edit_community_path(@community), class: 'mini' %></h1>

<%= render partial: "shared/articles", locals: { entity: @community } %>

<section class="filters">
  <div>
    <h3><%= t :recent_comments %></h3>
    <ul>
      <% @community.articles.recently_commented.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article, anchor: 'comments') %>&nbsp;<span class="count"><%= article.comment_count %></span>
      </li>
      <% end %>
    </ul>
  </div>

  <div>
    <h3><%= t :authors %></h3>
    <ul>
      <% @community.users.each do |u| %>
      <li>
        <%= link_to u.name, u %>&nbsp;<span class="count"><%= u.articles.where(community: @community).size %></span>
      </li>
      <% end %>
    </ul>
  </div>
</section>